*{
	margin: 0px;
	border: 0px;
}
body{
	background-color: #e2e2e2;
}
#logo{
	width: 70%;
}
.titulo{
	position: relative;
	padding-top: 0px; 
}
.pesquisa{
	position: relative;
	padding-top: 120px;
	padding-left: 250px;
}
.hidden{
	display: none;
	visibility: hidden;
}
#error{
	color:red;
	font-size: 14px;
}
.hidden{
	visibility: hidden;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
th {
    text-align: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}

th {
    font-weight: bold;
    text-align: -internal-center;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}
table {
    border-collapse: collapse;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}